
        img{
            width: 70px;
        }
        body{
            background-color: pink;
            color: black;
        }
        h1{
            text-align: center;
            font-size: 80px;
            font-family: Verdana;
            align-items: center;
        }
        button{
            background-color: blue;
            border-radius: 3px;
            margin: 2px;
            font-size: 20px;
        }
        p{
            font-size: 50px;
            font-family: Verdana;
            align-items: center;
        }
        .bulb{
            align-items: center;
            justify-content: center;
        }
        .bulb img{
            width: 400px;
            background-color: pink;
        }
        button:hover{
            background-color: red;
        }
        