body{
    background-color: gray;
    height:90% ;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    width: 450px;
    margin: 200px 100px;
    height: 200px;
    padding: 15%;
    border-radius: 20px;

}

h1{
    margin: 0;
    text-align: center;
    margin-bottom: 9px;
    font-size: 3rem;
}

h2{
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.options{
    padding: 2px;

}
.options input{
    margin: 9px 8px;
    
}
.options label{
    cursor: pointer;
    font-size: 16px;
    font-size: 1.3rem;
}
button{
    background-color:rgb(12, 122, 165);
    color:white;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 10px;
}